.ce-Math {
    color: #000;
    line-height: 1.6em;
    outline: none;
}

.ce-Math[data-placeholder]:empty::before{
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    opacity: 0;
}

/** Show placeholder at the first paragraph if Editor is empty */
.codex-editor--empty .ce-block:first-child .ce-Math[data-placeholder]:empty::before {
    opacity: 1;
}

.codex-editor--toolbox-opened .ce-block:first-child .ce-Math[data-placeholder]:empty::before,
.codex-editor--empty .ce-block:first-child .ce-Math[data-placeholder]:empty:focus::before {
    opacity: 0;
}

.ce-Math p:first-of-type{
    margin-top: 0;
}

.ce-Math p:last-of-type{
    margin-bottom: 0;
}
